node_modules/
.idea/
wwwroot/build/
wwwroot/doc/
npm-debug.log
version.js
yarn-error.log
wwwroot/init/nm.json
datasources/00_National_Data_Sets.json
.DS_Store
.localized
.sass-cache
/terriajs.pid
/terriajs-server.log

/wwwroot/editor/
/error.log
/error.log
/output.log
privateserverconfig.json
wwwroot/privateconfig.json
deploy/packages/
deploy/work/
#packages/
pancake/

#追加
packages/terriajs/docs/
packages/terriajs/node_modules/
packages/terriajs/.idea/
packages/terriajs/build/
packages/terriajs/error.log
packages/terriajs/output.log
packages/terriajs/npm-debug.log
packages/terriajs/.DS_Store
packages/terriajs/terria.lib.js
packages/terriajs/terriajs-server.log
packages/terriajs/terriajs.pid
packages/terriajs/wwwroot/doc/
packages/terriajs/wwwroot/schema/
packages/terriajs/wwwroot/user-guide/
packages/terriajs/coverage/
packages/terriajs/package-lock.json
packages/terriajs/*.swp
packages/terriajs/dist
packages/terriajs/history/
# Catalog index generation files
packages/terriajs/catalog-index*.json
